# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# User-specific files
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
!default.pbxuser

# Logs
*.log